<hr>
<p>title: 从双系统分区到Linux的分区与目录<br>date: 2017-08-15 21:37:22<br>tags:</p>
<ul>
<li>Linux</li>
<li>双系统</li>
<li>磁盘分区</li>
</ul>
<hr>
<p>最近用Linux有点频繁，今天下午系统突然提示磁盘空间只有1G，吓得我赶紧清空了回收站，提示消息推荐我用系统自带软件<em>Disk Usage Analyzer</em>进行扫描分析，这一扫描解开了我心中好久的迷。</p>
<p><em>Disk Usage Analyzer</em>挺强大的，可以把各个文件夹对磁盘的占用情况漂亮地表示出来：</p>
<p>{% asset_img 1.png %}</p>
<p>我又看了下所有分区的情况，发现有个24G的分区使用了仅56M：</p>
<p>{% asset_img 2.jpg %}</p>
<p>我一直是Ubuntu+Windows的双系统，以前用的时候也经常会遇到空间不足，尽管我在安装的时候给/home的分区越来越大。于是最近这一次安装我留了心眼，分了/ 30G，/home 24G，/boot 300G，swap5G，特地记录了分区大小，想看看究竟是什么原因使我的分区变小。</p>
<p>所以结论就是：这挂载在/media目录下的24G分区正是我那消失的/home分区！</p>
<p>那么问题来了：我经常使用的/home/clouduan中的/home分区是什么鬼？从何而来？</p>
<p>连忙恶补了下Linux的分区知识，我得出结论：我装系统时给/home分的24G分区并没有被挂载到 /home，我的 /home都在使用我分给 / 的30G分区！</p>
<p>这里我才算是明白了Linux的分区原理：Linux分区是物理实体，是真正存储数据的地方；目录只是客观的逻辑结构。分区挂载到目录上面才可以使用，同一个分区可以挂载到多个目录下，这样在就可以在多个目录下看到同样的内容，但是数据都是一份。分区和目录本身是独立的，不像Windows，我之前就是拿Windows的方式来理解Linux。</p>
<p>好吧既然如此，我就把这个分区挂载到 /home目录：</p>
<ol>
<li><p>首先明确分区位置：先把24G分区手动挂载到 /media/clouduan/ 目录下，UUID为<code>6ea02d81-ef8c-498e-b198-a674569dcd01</code>，要挂载到 /home目录下，而当前的 /home目录下是我的个人目录 /clouduan/。</p>
</li>
<li><p>把当前 /home目录下的东西全部拷贝：</p>
<pre><code>cp -av /home/* /media/clouduan/6ea02d81-ef8c-498e-b198-a674569dcd01/
</code></pre><p>这个-a参数相当于 -dHR，即递归方式保留原样地进行拷贝。-v参数是显示复制了文件，大文件的复制开这个心里踏实些，好像还有个 rsync 命令也挺好用，不过还是cp简便。</p>
</li>
<li><p>开始挂载分区：</p>
<p>在 /etc/fstab 文件中增加一行命令进行自动挂载：</p>
<pre><code>UUID=6ea02d81-ef8c-498e-b198-a674569dcd01 /home  ext4  defaults     0       2
</code></pre><p>顺便看下fstab这个文件，它专门用来处理挂载，开机时读取该文件实现分区的挂载</p>
<p>{% asset_img 3.png %}</p>
<p>可以看到<file system> 和 <mount point> ， 30G的分区挂载到了 / 下面，还有 swap分区的挂载情况。表明我的四个分区中Ubuntu只挂载了两个 / 和 swap。</p>
</li>
<li><p>重启，使用root登录。先用<code>umount /home</code>将24G分区从 /home挂载点卸载，然后使用<code>rm -rf /home/*</code>删除原/home下的所有文件（卸载之后的 /home就是原 /home），然后再<code>mount /home</code>挂载分区到 /home即可。</p>
<p>P.S. 这里root登录我由命令行键入<code>su root</code>进入之后卸载不成功，最后从登录界面进入才可以；卸载时可能会提示设备忙，使用<code>fuser -km /home</code>杀掉 /home 中的进程即可。</p>
</li>
<li><p>一切正常，Bingo～</p>
</li>
</ol>
<p>P.S.上述过程如果一开始就使用root操作，应该会容易许多。</p>
<p>按照 /home分区的遭遇，那么我原先分的300M的 /boot分区岂不是也没用？果然我又在 / 下看到了/boot，于是我格式化了原先准备挂载到/boot的300M分区，重启试试啥事没有！我当时还指定该分区为引导，怪不得当时装完开机总是黑屏。</p>
<p>看来以后的分区方式最好应该是 / + swap + /home，我才明白把 /home 独立出来的真正目的在于当系统玩完时可以保证个人文件夹不受损害，看来以前啥都不懂只管分 /home /boot 的做法真是愚蠢至极！</p>
<p>refer：</p>
<p><a href="http://blog.csdn.net/fuchaosz/article/details/51980627">http://blog.csdn.net/fuchaosz/article/details/51980627</a> 这篇文章中提到的分区方案最好不过</p>
<p><a href="http://www.blogjava.net/pengpenglin/archive/2008/12/01/243810.html">http://www.blogjava.net/pengpenglin/archive/2008/12/01/243810.html</a> 分区和目录的关系，以及挂载的操作</p>
